.booking{
    height:auto;
}

.booking-a-ride .journey-details {
    margin: 1% 10%;
    padding: 9% 7%;
    background-color: white;
    display: inline-block;
    box-shadow: 0px 2px 6px 8px #ededed;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.booking-a-ride .journey-details .header .head{
    display:flex;
}

.booking-a-ride .header p {
    font-weight: 400;
    color: #dcd7db;
    margin-bottom:10%;
}

.booking-a-ride .header h1 {
    font-weight: 600;
    font-size:2rem;
    margin:10px 0 0 0;
}

.booking-a-ride .journey-details .helper{
    color:red;
    font-size:0.8rem;
}

.booking-a-ride .journey-details .input-box{
    margin:6% auto;
}

.booking-a-ride .journey-details .header .head span{
    margin-left:15%;
}

.booking-a-ride .journey-details .header .head span span{
    margin:auto;
}

.booking-a-ride .journey-details label {
    font-family: 'Open Sans', sans-serif;
    color: #a7a6a5;
}

.booking-a-ride .journey-details .chips .label span{
    font-family: 'Open Sans', sans-serif;
    color: #a7a6a5;
    font-weight:100;
}

.booking-a-ride .journey-details .submitButton {
    border-radius: 2rem;
    margin:6% auto auto;
    background-color: #ffac19;
    width: 9rem;
    height: 3rem;
    border: 0;
}

.booking-a-ride .journey-details .input p{
    color:red;
    font-size:1rem;
}

.booking-a-ride .journey-details button span {
    font-weight: 600;
    color: white;
    font-size: 1rem;
}

.booking-a-ride .chip {
    width: 6.3rem;
    margin: 4px 8px 4px 0px;
    background-color: white;
    border: 1px solid #ac4fff;
    height: 1.7rem;
}

.booking-a-ride .journey-details .header .head .switch {
    font-size: 4rem;
}