.login {
    margin: auto;
    height: 100%;
    background-color: #9319ff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../Images/imgg2.png);
}


.login .header {
    color: white;
    text-align-last: center;
}

.login .header .head {
    font-size: 1.9rem;
    padding-top: 22%;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}

.login .header .header-underline {
    background-color: white;
    width: 4vw;
    height: 2.5px;
    margin: 0.7rem auto;
}

.login .form {
    width: 80%;
    margin: 7% 12% auto;
    overflow: hidden;
}

.cointainer {
    height: 100%;
}

.login .form input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.login .form .input {
    width: 90%;
}

.login .form .input div {
    background-color: white;
    height: 3.5rem;
    border-radius: 0.4rem;
}

.login .form .input-box{
    margin:0.5rem;
    display:grid;
}

.login .form .input div::before{
    content:none;
}

.login .form .input div::after {
    content: none;
}

.login .form .input div div {
    color: #dcd7db;
}

.login .form label {
    color: #dcd7db;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: auto;
}

.login .form .submit {
    display: flex;
    margin-top: 1rem;
}

.login .form .submit span {
    font-weight: 700;
    color: white;
    font-size: 1rem;
}

.login .form .submit button {
    border-radius: 2rem;
    margin: auto;
    background-color: #ffac19;
    width: 9rem;
    height: 3rem;
    border: 0;
}

.login .footer {
    display: flex;
    margin: 5% auto;
    width: fit-content;
}

.login .footer .footer-underline {
    height: 2.5px;
    width: 3.4rem;
    margin: 2% 10%;
    background:white;
    margin-left: 10%;
}
.login .footer .link {
    margin-left: 0.5rem;
    display:grid;
}

.login .footer .link .signup {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: larger;
    font-weight: 600;
    background:none;
    cursor:pointer;
}

.login .footer p {
    color: white;
    font-size: larger;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

.login .form .input p {
    color: red;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.login .form .helper{
    color:red;
    font-size:0.7rem;
    margin:auto 4px;
}